<div class="d-flex flex-column justify-content-start right-area pb-5 border-left gray_border">
    <div class="ext-border d-none d-lg-block pt-3 mt-5 border-bottom gray_border"></div>
        <div class="d-none d-lg-block pt-3 pb-1 mt-5 border-bottom gray_border top-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent float-right border-top gray_border px-0 py-2">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="list-unstyled d-flex mr-auto pt-2">
                            <li class="active pr-2"><a class="pr-3" href="#"><i class="fa fa-home fs-17"></i></a></li>
                        {% for menuItem in data %}
                            <li class="px-2"><a class="" href="{{ path( 'ez_urlalias', {'locationId': menuItem.valueObject.id} ) }}">{{ menuItem.valueObject.contentInfo.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
