<div class="float-right">
    <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
        <li class="active">
            <a class="pr-3" href="#"><i class="fa fa-home" style="font-size:40px"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Product <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact <span class="sr-only"></span></a>
        </li>
        <li class="active">
            <a class="pr-3" href="#"><i class="fa fa-shopping-cart" style="font-size:40px"></i></a>
        </li>
    </ul>
</nav>
</div>
